<!--start header-->
<header class="l-header l-header-mb">
    <div class="l-container u-clear">

        <div class="l-header-left">
            <%- include('./view/module/_logo', { tag: 'a', link: './', mf: '', alt: 'LIG inc.'}) %>
        </div>

    </div>
</header>
<!--end header-->
